@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-dark: #0B0B0C;
  --brand-mid:  #151518;
  --brand-primary: #FFB800;
}

html, body, #root { height: 100%; }
body { background: var(--brand-dark); }

@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-mobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scroll-slow 30s linear infinite;
}

.animate-scroll-mobile {
  animation: scroll-mobile 12s linear infinite;
}
